h1{
    color: #900C3F;
    font-family: Cambria;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 900px;
    width: 500px;
    background-color:#c2c1c1;
    padding: 50px;
    border-radius: 10px ;
    color:#900C3F ;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}

li{
    font-family: Cambria;
}